<main>
    <br>
  <div class="rel"></div>
  <div class="breadcrumb_outer hidden-xs">
  <div class="container">
  <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
         <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Address Of All Consumers </li>
      </ul>
  </nav>
  </div>
  </div>
  <div class="off_white">
  
  <div class="mid_area">
      <div class="pro_box">
                  <table class="table table-stripped">
                  <thead class="thead-light">
                      <tr>
                      <th>Address Id</th>&nbsp;&nbsp;&nbsp;
                      <th>Area </th>&nbsp;&nbsp;&nbsp;
                      <th>City</th>&nbsp;&nbsp;&nbsp;
                      </thead>
              
                      <tbody>
                    <tr *ngFor = " let address of address">
                      <td>{{address.id}}</td>&nbsp;&nbsp;&nbsp;
                      <td>{{address.area}}</td>&nbsp;&nbsp;&nbsp;
                      <td>{{address.city}}</td>&nbsp;&nbsp;&nbsp;
                     <!-- <button>Delete</button>-->
                     <button  type = "submit" class="button-24" (click)="deleteAddress(address.id)" role="button">Delete</button>&nbsp;&nbsp;&nbsp;
                     <button  [routerLink]="'/address-list/updateAddress/' + address.id" type = "submit" class="button-27" role="button">Update</button>&nbsp;&nbsp;&nbsp;
                  </tr>
      </tbody>
      </table>
  </div>
  
    <div class="clearfix"></div>
  </div>
  
  </div>
  </main>